<div class="container-fluid">
    <div class="row-fluid">
      <style>
  #header {
    width: 100%;
  }

  img.uscc-logo {
    float: left;
  }

  img.brewers-logo {
    float: right;
  }

  img.brewers-logo1 {
    float: right;
  }



</style>


<div id="header">
<div class="spacer-10"></div> 
  <div class="row-fluid"> 
    <a href="/home"><img class="uscc-logo hidden-phone" src="/img/uscclogo.png" width="280"></a>
    <a href="/home"><img class="uscc-logo1 visible-phone" src="/img/uscclogo.png" width="200"></a>
    <img class="brewers-logo hidden-phone" src="/img/iowalogo.png" width="170">
    <img class="brewers-logo1 visible-phone" src="/img/iowalogo.png" width="100">
  </div>
<div class="hidden-phone spacer-30"></div>   
</div>  

<div class="spacer-10"></div>   
</div>  


<div class="container-fluid">
  <div class="well">
   <div class="spacer-30 hidden-phone"></div> 
   <div class="spacer-10 visible-phone"></div> 
    <div class="row-fluid">
        <div class="span6">
           <div class="spacer-20"></div>        
            <h1 class="hidden-phone" id="title">Virtual Autograph</h1>
            <h1 class="visible-phone" id="title">Virtual Autograph</h1>
            <div class="spacer-10"></div>            
            <h2 id="subtitle">A link to your virtual autograph has been sent to your mobile phone.</h2>
            
           <div id="autograph-image" class="span6 visible-phone"	style="margin-right:auto;margin-left:auto;text-align:center;">

	            <img src="<%=@img_url%>" width="50%" />
</div>
          
		    <a href = "/autograph/choose">
			<button type="submit" class="btn btn-block btn-large btn-primary" onClick="_gaq.push(['_trackEvent', 'autograph', 'start_over','get']);">Get another one<i class="icon-chevron-right sign"></i></button>
			</a>
            
            </div>
            <div id="autograph-image" class="span6 visible-desktop">
            <img class="virtual_auto" src="<%=@img_url%>" width="400">
       		</div>
          </div>
    </div>
    <div align="center">
    <div class="messages">
      Messages and data rates may apply.  Available on select devices.
    </div>
  </div>
  </div>