<div id="header">
<div class="spacer-10"></div> 
  <div class="row-fluid"> 
    <a href="/home"><img class="uscc-logo hidden-phone" src="/img/uscclogo.png" width="280"></a>
    <a href="/home"><img class="uscc-logo1 visible-phone" src="/img/uscclogo.png" width="200"></a>
    <img class="brewers-logo hidden-phone" src="/img/iowalogo.png" width="170">
    <img class="brewers-logo1 visible-phone" src="/img/iowalogo.png" width="100">
  </div>
<div class="spacer-10"></div>   
</div>  

<div class="container-fluid">
  <div class="well">
         <div class="spacer-30"> </div> 
         <div align="center">
  			     <h1 id="title"> We're sorry!</h1>
              <div class="spacer-10"> </div> 
  			     <h2 id="subtitle">You have already entered this sweepstakes.</h2>
              <div class="spacer-10"> </div> 
  				    <a href ="/home">
  					   <button type="submit" class="btn2 btn-block btn-large btn-primary" onClick="_gaq.push(['_trackEvent', 'sweeps', 'already','get']);">
  				      Home
  				    </button>
        </div>
	</div>
</div>