<div id="header">
<div class="spacer-10"></div> 
  <div class="row-fluid"> 
    <a href="/home"><img class="uscc-logo hidden-phone" src="/img/uscclogo.png" width="280"></a>
    <a href="/home"><img class="uscc-logo1 visible-phone" src="/img/uscclogo.png" width="200"></a>
    <img class="brewers-logo hidden-phone" src="/img/iowalogo.png" width="170">
    <img class="brewers-logo1 visible-phone" src="/img/iowalogo.png" width="100">
  </div>
<div class="hidden-phone spacer-10"></div>   
</div>  


<div class="container-fluid">
  <div class="well">
         <div class="hidden-phone spacer-30"> </div> 
         <div class="row-fluid">
          
            <div align="center">
              <div class="uscclogoreg">
                <img src="/img/uscclogoreg.png">
              </div> 
               <div class="spacer-10"></div>
            <h1 id="trivia">Trivia Challenge</h1>
            <div class="spacer-10"></div>
            <h2 id="subtitle">Come test out your racing knowledge in the U.S. Cellular® Trivia Challenge.</h2><div class="spacer-30"></div>
         
          
      <a href = "/trivia/1">
          <button type="submit" class="btn2 btn-block btn-large btn-primary">
       Play Now
        </button>
      </a>
            <div class="visible-phone spacer-20"></div>
        
    </div>
  </div>
 
</div>
 <div align="center">
    <div class="messages">
      Messages and data rates may apply.
    </div>
  </div>