<div id="header">
<div class="spacer-10"></div> 
  <div class="row-fluid"> 
    <a href="/home"><img class="uscc-logo hidden-phone" src="/img/uscclogo.png" width="280"></a>
    <a href="/home"><img class="uscc-logo1 visible-phone" src="/img/uscclogo.png" width="200"></a>
    <img class="brewers-logo hidden-phone" src="/img/iowalogo.png" width="170">
    <img class="brewers-logo1 visible-phone" src="/img/iowalogo.png" width="100">
  </div>
<div class="spacer-10"></div>   
</div>  

<div class="container-fluid">
  <div class="well">        
         <div class="row-fluid">
         <div class="visible-phone spacer-40"></div>  
         <h2 id="trivia">1) Who won the 2012 NASCAR Camping World Series championship?</h2>
            <div class="span6">
            	<form method="post" action="/trivia/confirm/1">
					<div id="show">
					<div class="spacer-20"></div> 
		            <input type="radio" id="r1" name="rr" value ="James Buescher"/>
		            <label for="r1"><span></span>&nbsp;&nbsp;James Buescher</label>
		         	<div class="spacer-10"></div> 
		            <input type="radio" id="r2" name="rr" value ="Ron Hornaday Jr." />
		            <label for="r2"><span></span>&nbsp;&nbsp;Ron Hornaday Jr.</label>
		             <div class="spacer-10"></div> 
		            <input type="radio" id="r3" name="rr" value ="Todd Bodine"/>
		            <label for="r3"><span></span>&nbsp;&nbsp;Todd Bodine</label>
		            <div class="spacer-10"></div> 
		          	<input type="radio" id="r4" name="rr" value ="Ty Dillon"/>
		            <label for="r4"><span></span>&nbsp;&nbsp;Ty Dillon</label>

       				</div>
						<div class="spacer-20"></div> 
						<div align="center">
						<div class="hidden-phone">
							<button type="submit" class="btn1 btn-block btn-large btn-primary" onClick="_gaq.push(['_trackEvent', 'trivia', '1','get']);">
							Submit
							</button>
						</div>
						</div>
						<div class="visible-phone">
						<button type="submit" class="btn2 btn-block btn-large btn-primary" onClick="_gaq.push(['_trackEvent', 'trivia', '1','get']);">
							Submit
						</button>
					</div>
					
				</form>
		      
		              <div class="spacer-30"></div> 

           
            </div>
             <div class="row-fluid">
              <div class="span6">
                  <div class="hidden-phone" id="uscc250">
                        <img src="/img/uscc250.png">
                    </div>
                  </div>
                </div>
    </div>
  </div>
  <div align="center">
    <div class="messages">
      Messages and data rates may apply. 
    </div>

  </div>

</div>
		
	
